.calculator {
    max-width: 300px;
    margin: 50px auto;
    border: 1px solid #bd9898;
    border-radius: 5px;
    padding: 10px;
  }
  
  #display {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 30px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
  }
  
  button {
    padding: 10px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    background-color: #a5b2b3;
  }
  
  button:hover {
    background-color: #50b2b9;
  }
  